.timeline {
	position: relative;
	margin: 0;
    padding: 0;
    list-style-type: none;

    padding: 1rem;
  	font-family: helvetica;
  	position: relative;

	> li {
		list-style: none;
		display: inline-block;
		border-bottom: 0.25rem solid #cfd9db;
		min-width: 10em;

		&.future {
			border-bottom: 0.25rem dashed #cfd9db;
		}

		&:before {
			position: relative;
			content: '';
			width: 20px;
			height: 20px;
			display: block;
			background-image: -webkit-radial-gradient(#ffffff 30%, #cfd9db 31%, #cfd9db 50%, #ffffff 51%);
			float: left;
			left: 0px;
			bottom: -12px;
		}
	}
}

.timeline-horizontal {
	width: 95%;
}