.timeline {
	position: relative;
	margin: 0;
    padding: 0;
    list-style-type: none;

	> li {
		list-style: none;
		display: inline-block;
		border-bottom: 3px solid #cfd9db;
	}
	> li:before {
		position: relative;
		content: '';
		width: 20px;
		height: 20px;
		display: block;
		background-image: -webkit-radial-gradient(#ffffff 30%, #cfd9db 31%, #cfd9db 50%, #ffffff 51%);
		float: left;
		left: 0px;
		bottom: -10px;
	}
}

.timeline-horizontal {
	width: 95%;
}